version: 1
disable_existing_loggers: false

formatters:
  standard:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
    datefmt: '%Y-%m-%d %H:%M:%S'
  
  detailed:
    format: '%(asctime)s - %(name)s - %(levelname)s - [%(filename)s:%(lineno)d] - %(message)s'
    datefmt: '%Y-%m-%d %H:%M:%S'

handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: standard
    stream: ext://sys.stdout
  
  file:
    class: logging.handlers.RotatingFileHandler
    level: DEBUG
    formatter: detailed
    filename: /var/log/easydispatch/collector.log
    maxBytes: 10485760  # 10 MB
    backupCount: 5
    encoding: utf8

root:
  level: INFO
  handlers: [console, file]

loggers:
  collector:
    level: DEBUG
    handlers: [console, file]
    propagate: no
  
  urllib3:
    level: WARNING
  
  requests:
    level: WARNING
